#PlusSign {
  width:100%;
  height: 100%;
  vertical-align: center;
  horizontal-align:center;

}

#PlusSignText {
  font-size: 50;
  
  vertical-align: center;
  horizontal-align:center;
  color: red;
}

.CustomUIState_HUD {
  width:100%;
  height: 100%;
}