#BottomHealthbarBG {
  width:705px;
  height: 25px;
  background-color: black;
  vertical-align: bottom;
  horizontal-align:center;
  margin-bottom: 3px;
  border-radius: 20px;
  flow-children:right;
  
  
}

#BottomHealthbar {
  width:700px;
  height: 20px;
  background-color: orange;
  vertical-align: bottom;
  
  margin-bottom: 2.5px;
  margin-left:2.5px;
  margin-right:2.5px;
  border-radius: 20px;
}

.all {
  width:100%;
  height: 100%;
}